<a [routerLink]="['/event', event?.id]"
  class="flex border-b border-gray-200 dark:border-gray-600 space-x-4 rtl:space-x-reverse gap-2 p-3 h-40">
  <div class="w-[10%] sm:w-[30%] h-[95%] flex items-center justify-center">
    <img
      [src]="baseUrl +event?.media?.url"
      class="w-51 h-[100%] border-gray-200 dark:border-gray-600 rounded-lg hidden sm:block"  (error)="handleImageError($event)" alt="Image de l'événement" >
    <svg class="w-[48px] h-[48px] sm:hidden text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M13.09 3.294c1.924.95 3.422 1.69 5.472.692a1 1 0 0 1 1.438.9v9.54a1 1 0 0 1-.562.9c-2.981 1.45-5.382.24-7.25-.701a38.739 38.739 0 0 0-.622-.31c-1.033-.497-1.887-.812-2.756-.77-.76.036-1.672.357-2.81 1.396V21a1 1 0 1 1-2 0V4.971a1 1 0 0 1 .297-.71c1.522-1.506 2.967-2.185 4.417-2.255 1.407-.068 2.653.453 3.72.967.225.108.443.216.655.32Z" />
    </svg>
  </div>
  <div class="w-[90%] sm:w-[70%] m-2 gap-2">
    <div class="h-1/4 text-sm text-gray-500 hidden md:block dark:text-gray-400">
      @for(category of event?.categories; track category.id){
        <span class="bg-purple-100 m-1 text-purple-800 text-xs font-semibold px-2.5 py-0.5 rounded">
          {{category.title }} </span>
        }
    </div>
    <div class="h-3/4">
      <p class="text-sm m-2 font-medium text-gray-900 dark:text-white">
        {{ event?.title }} 
      </p>
    </div>
  </div>
</a>