<a [routerLink]="['/event', event?.id]"
  class="relative bg-white rounded-lg shadow-md h-85 w-80 overflow-hidden hover:shadow-xl transition dark:bg-gray-900 dark:text-white dark:border dark:border-gray-700">
  <img [src]="baseUrl +event?.media?.url"  alt="Event Image" class="w-80 h-50 object-cover brightness-75">
  <div class="h-35 w-80">
    <div class="flex rounded-2xl bg-[#f6f4ee] h-full w-full shadow-lg overflow-hidden relative">
      <div class="flex flex-col justify-between px-5 py-4 relative h-full w-full">
        <span class="flex justify-between items-center">
          <span class="text-sm uppercase tracking-widest text-gray-700 mb-2"> Category </span>
          <span class="text-sm font-bold text-black mb-2"> {{ event?.date_time_start}}</span>
        </span>
        <div class="uppercase text-lg font-semibold tracking-tight text-black">
         {{ event?.title }}
        </div>
        <!-- Découpe ticket gauche -->
        <div class="absolute left-0 top-1/2 -translate-y-1/2 w-4 h-8 bg-purple-600 rounded-full -ml-2"></div>
      </div>
    </div>
  </div>
</a>