<a [routerLink]="['/event', event?.id]"
  class="relative bg-white rounded-lg shadow-md h-85 w-80 overflow-hidden hover:shadow-xl transition dark:bg-gray-900 dark:text-white dark:border dark:border-gray-700">
  <img [src]="baseUrl +event?.media?.url"  alt="Event Image" class="w-80 h-50 object-cover brightness-75" (error)="handleImageError($event)" alt="Image de l'événement" />
  <div class="h-35 w-80">
    <div class="flex rounded-2xl bg-[#f6f4ee] h-full w-full shadow-lg overflow-hidden relative">
      <div class="flex flex-col justify-between px-5 py-4 relative h-full w-full">
        <span class="flex justify-between items-center mb-3">
          <app-favorite [id]="event?.id ?? 0" [color]="color" [favorite]="event?.favorite ?? '0'" [subscribe]="event?.subscribe ?? '0'"></app-favorite>
          <span class="text-sm font-bold text-black mb-2"> {{ event?.date_time_start}}</span>
        </span>
        <div class="uppercase font-semibold tracking-tight text-black leading-tight"
             [ngClass]="{
               'text-sm': (event?.title?.length || 0) > 40,
               'text-base': (event?.title?.length || 0) > 25 && (event?.title?.length || 0) <= 40,
               'text-lg': (event?.title?.length || 0) <= 25
             }"
             [title]="event?.title">
         {{ event?.title }}
        </div>
        <!-- Découpe ticket gauche -->
        <div class="absolute left-0 top-1/2 -translate-y-1/2 w-4 h-8 bg-purple-600 rounded-full -ml-2"></div>
      </div>
    </div>
  </div>
</a>
