<div id="combined-carousel" class="relative w-screen left-1/2 right-1/2 -translate-x-1/2" data-carousel="slide">
  <div class="relative h-140 overflow-hidden rounded-xl">
    <!-- Slide 1 -->
    <div class="hidden w-full duration-700 ease-in-out h-160 flex flex-col lg:flex-row" data-carousel-item>
      <!-- Partie image : 80% -->
      <img
        src="https://images.unsplash.com/photo-1517649763962-0c623066013b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="block w-full object-cover h-[55%] lg:h-full lg:w-[60%]" alt="Slide 1" />
      <!-- Partie texte : 20% avec background purple-600 -->
      <div class="uppercase bg-purple-800 items-left my-auto justify-top px-5 py-10 h-[45%] text-white
                  sm:px-10 md:px-20 lg:py-20 lg:h-full lg:w-[40%]">
        <!-- Date et heure -->
        <p class="uppercase text-sm tracking-wide mb-5 lg:mb-10">Mar. 24 Juin | 20:00</p>

        <!-- Nom de l'artiste -->
        <h1 class="text-xl font-black w-[90%] text-black mb-5 sm:text-2xl lg:text-3xl lg:mb-10 xl:text-4xl">Tour de
          France 2025</h1>

        <!-- Bouton -->
        <button class="bg-black w-20 text-sm text-white px-2 py-2 font-semibold flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
          Infos
        </button>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="hidden w-full duration-700 ease-in-out h-160 flex flex-col lg:flex-row" data-carousel-item>
      <!-- Partie image : 80% -->
      <img
        src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="block w-full object-cover h-[55%] lg:h-full lg:w-[60%]" alt="Slide 2" />
      <!-- Partie texte : 20% avec background purple-600 -->
      <div class="uppercase bg-purple-800 items-left my-auto justify-top px-5 py-10 h-[45%] text-white
                      sm:px-10 md:px-20 lg:py-20 lg:h-full lg:w-[40%]">
        <!-- Date et heure -->
        <p class="uppercase text-sm tracking-wide mb-5 lg:mb-10">Mar. 24 Juin | 20:00</p>

        <!-- Nom de l'artiste -->
        <h1 class="text-xl font-black w-[90%] text-black mb-5 sm:text-2xl lg:text-3xl lg:mb-10 xl:text-4xl">La nuit de
          la musique congolaise</h1>

        <!-- Bouton -->
        <button class="bg-black w-20 text-sm text-white px-2 py-2 font-semibold flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
          Infos
        </button>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="hidden w-full duration-700 ease-in-out h-160 flex flex-col lg:flex-row" data-carousel-item>
      <!-- Partie image : 80% -->
      <img
        src="https://images.unsplash.com/photo-1606761568499-6d2451b23c66?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="block w-full object-cover h-[55%] lg:h-full lg:w-[60%]" alt="Slide 3" />
      <!-- Partie texte : 20% avec background purple-600 -->
      <div class="uppercase bg-purple-800 items-left my-auto justify-top px-5 py-10 h-[45%] text-white
                      sm:px-10 md:px-20 lg:py-20 lg:h-full lg:w-[40%]">
        <!-- Date et heure -->
        <p class="uppercase text-sm tracking-wide mb-5 lg:mb-10">Mar. 24 Juin | 20:00</p>

        <!-- Nom de l'artiste -->
        <h1 class="text-xl font-black w-[90%] text-black mb-5 sm:text-2xl lg:text-3xl lg:mb-10 xl:text-4xl">
          Céremonies des Prix Nobel 2025
        </h1>

        <!-- Bouton -->
        <button class="bg-black w-20 text-sm text-white px-2 py-2 font-semibold flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
          Infos
        </button>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="hidden w-full duration-700 ease-in-out h-160 flex flex-col lg:flex-row" data-carousel-item>
      <!-- Partie image : 80% -->
      <img
        src="https://images.unsplash.com/photo-1538175911510-25336f95b07d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="block w-full object-cover h-[55%] lg:h-full lg:w-[60%]" alt="Slide 4" />
      <!-- Partie texte : 20% avec background purple-600 -->
      <div class="uppercase bg-purple-800 items-left my-auto justify-top px-5 py-10 h-[45%] text-white
                      sm:px-10 md:px-20 lg:py-20 lg:h-full lg:w-[40%]">
        <!-- Date et heure -->
        <p class="uppercase text-sm tracking-wide mb-5 lg:mb-10">Mar. 24 Juin | 20:00</p>

        <!-- Nom de l'artiste -->
        <h1 class="text-xl font-black w-[90%] text-black mb-5 sm:text-2xl lg:text-3xl lg:mb-10 xl:text-4xl">
          Béatification de l'abbé Franklin</h1>

        <!-- Bouton -->
        <button class="bg-black w-20 text-sm text-white px-2 py-2 font-semibold flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
          Infos
        </button>
      </div>
    </div>
    <!-- Slide 5 -->
    <div class="hidden w-full duration-700 ease-in-out h-160 flex flex-col lg:flex-row" data-carousel-item>
      <!-- Partie image : 80% -->
      <img
        src="https://www.livemint.com/lm-img/img/2024/09/06/600x338/SOCCER-UEFANATIONS-POR-CRO-REPORT-26_1725606609218_1725606622051.JPG"
        class="block w-full object-cover h-[55%] lg:h-full lg:w-[60%]" alt="Slide 1" />
      <!-- Partie texte : 20% avec background purple-600 -->
      <div class="uppercase bg-purple-800 items-left my-auto justify-top px-5 py-10 h-[45%] text-white
                      sm:px-10 md:px-20 lg:py-20 lg:h-full lg:w-[40%]">
        <!-- Date et heure -->
        <p class="uppercase text-sm tracking-wide mb-5 lg:mb-10">Mar. 24 Juin | 20:00</p>

        <!-- Nom de l'artiste -->
        <h1 class="text-xl font-black w-[90%] text-black mb-5 sm:text-2xl lg:text-3xl lg:mb-10 xl:text-4xl">Finale de la
          Ligue des Nations 2025</h1>

        <!-- Bouton -->
        <button class="bg-black w-20 text-sm text-white px-2 py-2 font-semibold flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
          Infos
        </button>
      </div>
    </div>
  </div>

  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-3/4 space-x-3 rtl:space-x-reverse">
    <button type="button" class="w-4 h-4 rounded-full" aria-current="true" aria-label="Slide 2"
      data-carousel-slide-to="1"></button>
    <button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 3"
      data-carousel-slide-to="2"></button>
    <button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 4"
      data-carousel-slide-to="3"></button>
    <button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 5"
      data-carousel-slide-to="4"></button>
    <button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 6"
      data-carousel-slide-to="5"></button>
  </div>

  <!-- Slider controls -->
  <button type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev>
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next>
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<div class="dark:bg-gray-900 mx-auto pt-10">
  <div class="max-w-2x1 mx-auto text-center mb-5 lg:mb-5">
    <h1 class="text-5xl text-extrabold text-purple-600">Evenements à la une</h1>
  </div>
  <div class="grid grid-rows grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mx-auto gap-4 p-4">
    <app-event-card [event]="event" *ngFor="let event of eventThrees" class="w-full mx-auto"></app-event-card>
  </div>
  <div *ngIf="isLogged" class="max-w-2x1 mx-auto text-center mb-5 lg:mb-5">
    <h1 class="text-5xl text-extrabold text-purple-600">Evenements liées à vos centres d'intérets</h1>
  </div>
  <div *ngIf="isLogged" class="grid grid-rows grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mx-auto gap-4 p-4">
    <app-event-card [event]="event" *ngFor="let event of eventInterets" class="w-full mx-auto"></app-event-card>
  </div>
</div>
